@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Лозинката ви е ресетирана. <a asp-page="./Login">Кликнете тука за да се најавите</a>.
</p>
